@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #4f4f4f;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 100px;
}
.form {
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.form label {
  display: block;
  font-size: 12px;
  font-weight: 600;
}
h3 {
  font-size: 36px;
  margin-bottom: 20px;
}
h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
input {
  width: 465px;
  padding: 15px;
  border: 1px solid #4f4f4f;
  border-radius: 10px;
}
.input-field {
  position: relative;
  padding-left: 15%;
}
.input-field2 {
  position: relative;
  padding-left: 30% !important ;
}
.input-field::placeholder {
  position: absolute;
  top: 35%;
  left: 45px;
}
.country-postCode {
  display: flex;
  align-items: center;
  gap: 2em;
}
.country-postCode input {
  width: 217px;
}
.hideIcon {
  display: none;
}
.form i {
  position: absolute;
}
.inputIcons {
  position: relative;
  margin-bottom: 15px;
}
label {
  margin-bottom: 10px;
}
.icon {
  min-width: 40px;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 10px;
}

input[type="checkbox"] {
  width: 50px;
}
input[type="checkbox"] ~ label {
  margin: 0;
}
.checkbox {
  display: flex;
  justify-content: start;
  align-items: center;
}
.btn-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#btn-sub {
  margin: 20px 20px 0 0;
  font-size: 18px;
  color: #fff;
  background-color: #f2994a;
  padding: 10px 30px;
  outline: none;
  border: 1px solid #f2994a;
  border-radius: 20px;
}

/* list product css code  */

.content1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}
.content1 img {
  width: 132px;
  border-radius: 10px;
}
.content1 figcaption h4 {
  font-size: 16px;
}

.content1 figcaption p {
  font-size: 16px;
  color: #f2994a;
}
.content1 figcaption p span {
  font-size: 12px;
  color: #000;
  text-decoration: line-through;
}

.quantity-container {
  display: flex;
  align-items: center;
}

/* Style for the buttons */
.itemContent {
  width: 383px;
  height: 535px;
  top: 170px;
  border-radius: 12px;
  background-color: #f2f2f2;
  padding: 25px;
}
.quantity-container {
  padding: 15px;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.quantity-btn {
  background-color: #f2994a;
  color: white;
  border: none;
  padding: 5px 9px;
  font-size: 18px;
  cursor: pointer;
}
.product-story {
  margin-top: 80px;
}
.price-flex {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #4f4f4f;
  margin-top: 20px;
}
.price-flex p {
  font-size: 16px;
  margin-top: 10px;
}
.price-flex span {
  font-size: 12px;
  margin-top: 10px;
}

@media screen and (max-width: 568px) {
  .container {
    padding: 0 20px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .form {
    padding: 10px;
    width: 100%;
  }
  input {
    width: 320px;
    padding: 10px;
  }
  .country-postCode input {
    width: 140px;
  }
  .btn-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #btn-sub {
    /* margin: 20px 20px 0 0; */
    font-size: 18px;
    color: #fff;
    background-color: #f2994a;
    padding: 8px 20px;
  }
  .itemContent {
    width: 350px;
    padding: 20px;
  }
}
